@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

#top-nav {
    background: #1f2937;
}

#signup {
    background: #1f2937;
    color: white;
}

.navbar {
    padding: 0;
}

#hero-text {
    color: #E5E7EB
}

#quote {
    background: #EFE7EB;
}

#cta {
    color: white;
    background: #3882F6;
}

#cta-btn {
    border: solid;
    color: white;
}

#cta-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}